.bg-color01 { background-color: #3e82b8; }

.bg-color02 { background-color: #c8e6e8; }

.bg-color03 { background-color: #2fadce; }

.bg-color04 { background-color: #feda3f; }

.bg-color05 { background-color: #de816e; }

.bg-color06 { background-color: #eca048; }

.bg-color07 { background-color: #27a08e; }

.bg-color08 { background-color: #1d7ec2; }

.bg-color09 { background-color: #00568b; }

.bg-color-w { background-color: rgba(255, 255, 255, 0.7); }
