*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.color01 { color: #3e82b8 !important; }

.color02 { color: #c8e6e8 !important; }

.color03 { color: #2fadce !important; }

.color04 { color: #d7ba36 !important; }

.color05 { color: #de816e !important; }

.color06 { color: #eca048 !important; }

.color07 { color: #27a08e !important; }

.color08 { color: #1d7ec2 !important; }

.color09 { color: #00568b !important; }

.bg-color01 { background-color: #3e82b8; }

.bg-color02 { background-color: #c8e6e8; }

.bg-color03 { background-color: #2fadce; }

.bg-color04 { background-color: #d7ba36; }

.bg-color05 { background-color: #de816e; }

.bg-color06 { background-color: #eca048; }

.bg-color07 { background-color: #27a08e; }

.bg-color08 { background-color: #1d7ec2; }

.bg-color09 { background-color: #00568b; }

.bg-color-w { background-color: rgba(255, 255, 255, 0.7); }

.dropdown-menu { color: white; background-color: #de816e; }

.dropdown-item { color: white; font-weight: bold; font-size: 1.3rem; text-align: center; }
.dropdown-item:hover { color: #de816e; }
@media screen and (max-width: 449px) and (min-width: 0) { .dropdown-item { border-bottom: 1px solid white; padding: .75rem 1rem; }
  .dropdown-item:hover { background-color: transparent; color: white; } }

.btn { font-size: 2.3rem; color: white; padding: 0.375rem 0 0.375rem 0.75rem; }
.btn:hover { color: white; }
.btn:focus { outline: 0; box-shadow: none !important; }

.offcanvas-end { background-color: #1d7ec2; }

.btn-close { background: none; font-size: 2rem; height: auto; }

.offcanvas-body { padding: 0 1rem; }

.nav-link { border-top-left-radius: 30px !important; border-top-right-radius: 30px !important; border-bottom-left-radius: 30px !important; border-bottom-left-radius: 30px !important; }

.nav-tabs { border-bottom: 0; }
