@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

.color01 { color: #3e82b8 !important; }

.color02 { color: #c8e6e8 !important; }

.color03 { color: #2fadce !important; }

.color04 { color: #d7ba36 !important; }

.color05 { color: #de816e !important; }

.color06 { color: #eca048 !important; }

.color07 { color: #27a08e !important; }

.color08 { color: #1d7ec2 !important; }

.color09 { color: #00568b !important; }

.bg-color01 { background-color: #3e82b8; }

.bg-color02 { background-color: #c8e6e8; }

.bg-color03 { background-color: #2fadce; }

.bg-color04 { background-color: #d7ba36; }

.bg-color05 { background-color: #de816e; }

.bg-color06 { background-color: #eca048; }

.bg-color07 { background-color: #27a08e; }

.bg-color08 { background-color: #1d7ec2; }

.bg-color09 { background-color: #00568b; }

.bg-color-w { background-color: rgba(255, 255, 255, 0.7); }

p { margin-bottom: 0 !important; }

i { font-style: normal !important; }

.title { display: inline-block; width: 100%; text-align: center; font-size: 3rem; color: #3e82b8; font-weight: bold; margin-bottom: 0; position: absolute; bottom: 25%; }
@media screen and (max-width: 449px) and (min-width: 0) { .title { font-size: 2.4rem; bottom: 19%; } }

a { text-decoration: none; }

.menulink { display: inline-block; width: 100%; font-size: 1.3rem !important; color: white; font-weight: bold; line-height: 70px; text-align: center; }
.menulink:hover { color: white; background-color: #de816e; }
@media screen and (max-width: 449px) and (min-width: 0) { .menulink { line-height: 55px; border-bottom: 1px solid white; text-align: left !important; }
  .menulink:hover { color: white; background-color: transparent; } }

.soLink { display: block; font-size: 1.3rem; font-weight: bold; color: white; text-align: left; line-height: 40px; }
.soLink:hover { color: white; text-decoration: underline !important; }
@media screen and (max-width: 449px) and (min-width: 0) { .soLink { display: inline-block; width: 50%; padding-top: 15px; float: left; } }

.s-menu-drop { background-color: transparent !important; border: 0; font-size: 1.3rem; font-weight: bold; color: white; text-align: left; }

.linkmap { font-size: 1.2rem; color: #de816e; }
.linkmap:hover { color: #de816e; text-decoration: underline; }

.in-btn { display: inline-block; font-size: 1.3rem; color: white; padding: 10px 30px; -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; font-weight: bold; margin: 0 15px; }
.in-btn:hover { color: rgba(255, 255, 255, 0.8); }
.in-btn.in-c { background-color: #75767a; }
.in-btn.in-c-01 { background-color: #d7ba36; }
.in-btn.in-c-02 { background-color: #27a08e; }
.in-btn.in-c-03 { background-color: #3e82b8; }
.in-btn.in-c-04 { background-color: #eca048; }
.in-btn.in-c-05 { background-color: #de816e; }

.tf_boxs { display: inline-block; width: 100%; padding: 10px 20px; color: white; font-size: 1.6rem; font-weight: bold; text-align: center; }
.tf_boxs.to1 { background-color: #d7ba36; }
.tf_boxs.to2 { background-color: #27a08e; }
.tf_boxs.to3 { background-color: #3e82b8; }
.tf_boxs.to { background-color: #eca048; }
.tf_boxs.to5 { background-color: #de816e; }

@media screen and (min-width: 0) and (max-width: 989px) { .table { display: block; width: 100%; background-color: white; }
  .table .tr { display: block; }
  .table .tr .td { display: block; text-align: left; padding: 10px 0; color: black; border-right: 1px solid #eca048; border-bottom: 1px solid #eca048; border-left: 1px solid #eca048; }
  .table .tr .td.td1 { border-right: 1px solid #d7ba36; border-bottom: 1px solid #d7ba36; border-left: 1px solid #d7ba36; }
  .table .tr .td.td2 { border-right: 1px solid #27a08e; border-bottom: 1px solid #27a08e; border-left: 1px solid #27a08e; }
  .table .tr .td.td3 { border-right: 1px solid #3e82b8; border-bottom: 1px solid #3e82b8; border-left: 1px solid #3e82b8; }
  .table .tr .td.td5 { border-right: 1px solid #de816e; border-bottom: 1px solid #de816e; border-left: 1px solid #de816e; }
  .table .tr .td.tll { border-left: 1px solid #eca048; }
  .table .tr .td.tdd { border-bottom: 2px solid #eca048; }
  .table .tr .td:before { content: attr(title); display: inline-block; width: 120px; font-size: 1.2rem; color: #eca048; font-weight: 600; margin: 0 10px; } }
@media screen and (min-width: 990px) { .table { display: table; width: 100%; background-color: white; }
  .table .tr { display: table-row; *zoom: 1; }
  .table .tr:after { display: table; content: ""; line-height: 0; clear: both; }
  .table .tr .td { display: table-cell; font-size: 1rem; color: black; padding: 10px 0; border-right: 1px solid #eca048; border-bottom: 1px solid #eca048; }
  .table .tr .td.td1 { border-right: 1px solid #d7ba36; border-bottom: 1px solid #d7ba36; }
  .table .tr .td.td2 { border-right: 1px solid #27a08e; border-bottom: 1px solid #27a08e; }
  .table .tr .td.td3 { border-right: 1px solid #3e82b8; border-bottom: 1px solid #3e82b8; }
  .table .tr .td.td5 { border-right: 1px solid #de816e; border-bottom: 1px solid #de816e; }
  .table .tr .td.tl { width: 30%; border-left: 1px solid #eca048; }
  .table .tr .td.tl.tl1 { border-left: 1px solid #d7ba36; }
  .table .tr .td.tl.tl2 { border-left: 1px solid #27a08e; }
  .table .tr .td.tl.tl3 { border-left: 1px solid #3e82b8; }
  .table .tr .td.tl.tl5 { border-left: 1px solid #de816e; } }
@media screen and (min-width: 990px) and (max-width: 449px) and (min-width: 0) { .table .tr .td.tl { width: 100%; } }
@media screen and (min-width: 990px) { .table .tr:first-child .td { position: relative; }
  .table .tr:first-child .td:before { content: attr(title); display: inline-block; width: 100%; background-color: #fdeada; font-size: 1.2rem; font-weight: bold; color: black; padding: 10px 0; margin-top: -10px; margin-bottom: 10px; padding: 10px; }
  .table .tr:first-child .td.to1:before { border-bottom: 1px solid #d7ba36; }
  .table .tr:first-child .td.to2:before { border-bottom: 1px solid #27a08e; }
  .table .tr:first-child .td.to3:before { border-bottom: 1px solid #3e82b8; }
  .table .tr:first-child .td.to:before { border-bottom: 1px solid #eca048; }
  .table .tr:first-child .td.to5:before { border-bottom: 1px solid #de816e; } }
.t-text { font-size: 1.2rem; padding: 0 10px !important; }

.t-text-b { color: #3e82b8; font-size: 1.3rem; font-weight: bold; padding: 0 10px !important; }

.linkMore { color: #2fadce; font-size: 1.2rem; padding: 0 10px !important; }
@media screen and (max-width: 449px) and (min-width: 0) { .linkMore { float: right; } }

.theader { display: inline-block; width: 100%; }

.w25 { width: 25% !important; }
@media screen and (max-width: 449px) and (min-width: 0) { .w25 { width: 100% !important; } }

.w15 { width: 15% !important; }
@media screen and (max-width: 449px) and (min-width: 0) { .w15 { width: 100% !important; } }

.p-link { padding-top: 6rem; padding-right: 3rem; }

.border-d02-b { border-bottom: 2px dotted rgba(79, 77, 81, 0.5); }

.dropdown-menu { color: white; background-color: #de816e; }

.dropdown-item { color: white; font-weight: bold; font-size: 1.3rem; text-align: center; }
.dropdown-item:hover { color: #de816e; }
@media screen and (max-width: 449px) and (min-width: 0) { .dropdown-item { border-bottom: 1px solid white; padding: .75rem 1rem; }
  .dropdown-item:hover { background-color: transparent; color: white; } }

.btn { font-size: 2.3rem; color: white; padding: 0.375rem 0 0.375rem 0.75rem; }
.btn:hover { color: white; }
.btn:focus { outline: 0; box-shadow: none !important; }

.offcanvas-end { background-color: #1d7ec2; }

.btn-close { background: none; font-size: 2rem; height: auto; }

.offcanvas-body { padding: 0 1rem; }

.nav-link { border-top-left-radius: 30px !important; border-top-right-radius: 30px !important; border-bottom-left-radius: 30px !important; border-bottom-left-radius: 30px !important; }

.nav-tabs { border-bottom: 0; }

html { font-size: 13px; }

body { position: relative; display: inline-block; width: 100%; margin: 0; padding: 0; color: #5a5a5a; font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; background-image: url(../img/bg.png); background-color: #3e82b8; }

.allBoxs { width: 100%; max-width: 1200px; margin: 0 auto; }
@media screen and (max-width: 449px) and (min-width: 0) { .allBoxs { padding: 0 15px; } }

.centBoxs { width: 100%; max-width: 990px; margin: 0 auto; }

.titleBoxs { width: 100%; max-width: 730px; margin: 0 auto; }

@media screen and (max-width: 449px) and (min-width: 0) { .logo { width: 100%; max-width: 170px; } }

footer { display: inline-block; width: 100%; padding: 20px 0; }

.card-none { background-color: transparent; border: 0; }
