
$color01: rgba(62, 130, 184, 1.00); // 灰藍色
$color02: rgba(200, 230, 232, 1.00); // 淺淺藍色
$color03: rgba(47, 173, 206, 1.00); // 亮藍色
$color04: rgba(254, 218, 63, 1.00); // 黃色
$color05: rgba(222, 129, 110, 1.00); // 粉橘色
$color06: rgba(236, 160, 72, 1.00); // 橘色
$color07: rgba(39, 160, 142, 1.00); // 綠色
$color08: rgba(29, 126, 194, 1.00); // footer底色
$color09: rgba(0, 86, 139, 1.00); // menu底色

.bg-color01 {
	background-color: $color01;
}

.bg-color02 {
	background-color: $color02;
}

.bg-color03 {
	background-color: $color03;
}

.bg-color04 {
	background-color: $color04;
}

.bg-color05 {
	background-color: $color05;
}

.bg-color06 {
	background-color: $color06;
}

.bg-color07 {
	background-color: $color07;
}

.bg-color08 {
	background-color: $color08;
}

.bg-color09 {
	background-color: $color09;
}

.bg-color-w {
	background-color: rgba(255, 255, 255, .7);
}


